.venv
.vscode
.pdm-python
__pycache__
.ruff_cache
.mypy_cache
data/raw/**/*.txt
data/raw/*.parq
*.parquet
data/processed/*.csv
data/processed/*.parq
data/processed/*.txt
data/processed/*.json
*.log
.DS_Store
*.egg-infos
.notebookcache
config.toml
